.top {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-image: url('./../../assets/images/austin-nellie-fancy.jpg');
}

.container > p {
    font-family: 'Comfortaa';
    font-size: 20pt;
    color: whitesmoke;
}

.resume {
    font-family: 'Comfortaa';
    font-size: 12pt;
}

.container {
    background:rgb(0, 0, 0, .6);
}

.download {
    margin: 50px;
}